<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :colour %>
    <%= f.text_field :colour %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :detail %>
    <%= f.text_field :detail %>
  </div>

  <div class="field">
    <strong>Family</strong>
    <%= f.label "McMahon" %>
    <%= f.radio_button :family_id, 1 %>
    <%= f.label "Tawaststjerna" %>
    <%= f.radio_button :family_id, 2 %>
  </div>

  <div class="field">
    <%= f.label :item_bought %>
    <%= f.check_box :item_bought, checked: false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
