<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Gift Name*' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Link*" %>
    <%= f.url_field :link, placeholder: '(Whole link http or https)' %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :colour %>
    <%= f.text_field :colour %>
  </div>

  <div class="field">
    <%= f.label :extra_details %>
    <%= f.text_field :detail %>
  </div>

  <div class="actions">
    <%= f.submit "Add Gift" %>
  </div>
<% end %>
