<p id='notice'><%= notice %></p>

<h1>The Giftlist! Put anything you want, you may just get it!</h1>
<h3>You Are: <%= current_user.name.capitalize %></h3>

<p><%= button_to 'New Gift', new_item_path %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gift</th>
      <th>Bought By</th>
      <th>Link</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Colour</th>
      <th>Extra Details</th>
      <th>Date Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= item.user.name.capitalize %></td>
        <td><%= item.name.capitalize %></td>
        <td class=<%= 'bought' if (item.item_bought && item.user != current_user)%> >
          <%= item.user != current_user ? item.bought_by : ''  %>
        </td>
        <td><%= link_to(URI.parse(item.link).host, item.link) %></td>
        <td><%= item.quantity %></td>
        <td><%= item.size %></td>
        <td><%= item.colour %></td>
        <td><%= item.detail %></td>
        <td><%= item.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= button_to "Gift Bought", item_bought_path(item.id), id: "item_#{item.id}", method: :put, data: { confirm: 'Are you sure the item is bought? The item will be marked with your name if you say yes!' } %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
