<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Colour</th>
      <th>Size</th>
      <th>Link</th>
      <th>Detail</th>
      <th>Date Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <style type="text/css">
      tr:nth-child(2n) {
             background-color: #E6E6E6;
        }
    </style>
    <% @items.includes(:user).order("users.name asc, items.name asc").each do |item| %>
      <tr>
        <td><%= item.user.name.capitalize %></td>
        <td><%= item.name.capitalize %></td>
        <td><%= item.quantity %></td>
        <td><%= item.colour %></td>
        <td><%= item.size %></td>
        <td><a href=<%=item.link %>>Link</td>
        <td><%= item.detail %></td>
        <td><%= item.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= button_to "Item Bought", item_bought_path(item.id),id: "item_#{item.id}",method: :put, data: { confirm: 'Are you sure the item is bought? The item will disappear from your list if you say yes!' } %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
